/* employeeHome.css */
.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    max-width: 1200px;
    margin: 0 auto;
    width: 100%;
  }
    
    .quick-stats, .dashboard-links {
      margin-top: 20px;
    }
    
    .dashboard-links .dashboard-tile {
      padding: 20px;
      background-color: #eee;
      text-align: center;
      border-radius: 5px;
      text-decoration: none;
      color: #333;
    }
    
    .footer {
      margin-top: auto;
      text-align: center;
      padding: 10px;
      width: 200%;
      background-color: #f1f1f1;
    }
    