/* managePackage.css */
.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0 auto;
  padding: 0;
  width: 100%;
  max-width: none;
}


.manage-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 3rem 1.5rem;
  max-width: 800px;
  margin: 0 auto;
}

.search-input {
  width: 100%;
  max-width: 400px;
  padding: 10px;
  margin: 20px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.packages-table {
  width: 100%;
  border-collapse: collapse; 
  margin-top: 20px;
  background-color: #dfe3e6;
  font-size: 16px;
  text-align: left;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}


.packages-table th {
  background-color: #282c34;
  color: white;
  padding: 12px 15px;
  font-weight: bold;
  border-bottom: 2px solid #0056b3; 
  text-align: center;
}

.packages-table tr {
  border-bottom: 1px solid #dddddd;
}

.packages-table tr:nth-child(even) {
  background-color: #f2f2f2;
}

.packages-table tr:hover {
  background-color: #f0f0f0;
  transition: background-color 0.3s ease-in-out;
}

.packages-table td {
  padding: 12px 15px;
  font-size: 14px;
  color: #333; 
  text-align: center;
}

.action-link {
  color: #007bff;
  text-decoration: none;
  margin: 0 5px;
}

.action-link:hover {
  color: #0056b3;
}

.delete-btn {
  color: #d9534f;
  border: none;
  background: none;
  cursor: pointer;
}

footer {
  background-color: #282c34;
  color: white;
  padding: 2rem;
  text-align: center;
  margin-top: auto;
  width: 100%;
}

footer ul {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
  margin: 1rem 0;
}

footer a {
  color: #61dafb;
  text-decoration: none;
  padding: 0.5rem;
}

footer a:hover {
  text-decoration: underline;
  color: #8be9fd;
  transition: color 0.2s ease;
}

.error-message {
  color: red;
  font-size: 14px;
  margin-top: 10px;
  text-align: center; 
  margin-left: auto; 
  margin-right: auto; 
  width: fit-content; 
}

.success-message {
  color: green;
  font-size: 14px;
  margin-top: 10px;
  text-align: center; 
  margin-left: auto; 
  margin-right: auto; 
  width: fit-content; 
}

.custom-modal {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 50%;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  transform: translate(-50%, -50%);
  padding-top: 20px;
}

.custom-overlay {
  background-color: rgba(0, 0, 0, 0.5);
}

.custom-modal h2,
.custom-modal p,
.custom-modal h3 {
  margin-top:0;
  color: #000; 
  margin-bottom: 10px;
}


.custom-modal input[type="radio"], .custom-modal select {
  margin-right: 10px;
}

.custom-modal input[type="text"]{
    background-color: #d8d8d8; 
    border: 2px solid #888888;
    padding: 10px;
    border-radius: 5px; 
    color: #333333; 
    font-size: 16px; 
}

.custom-modal label {
  margin: 0px 0;
  font-size: 16px;
  color:black;
}

.custom-modal form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.info-button {
  width: 100%;
  padding: 12px;
  background-color: #007bff;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  font-size: 1em;
  cursor: pointer;
  transition: background-color 0.3s;
}

.delete-button {
  width: 100%;
  padding: 12px;
  background-color: red;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  font-size: 1em;
  cursor: pointer;
  transition: background-color 0.3s;
}

.info-button:hover {
  background-color: #0056b3;
}

.package-button {
  margin: 10px 0;
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
}

.package-button:hover {
  background-color: #0056b3;
}