.nav {
    background-color: #282c34;
    padding: 0.5rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 0;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

.nav .homePage {
    font-size: 20px;
    color: #61dafb;
    text-decoration: none;
    margin-right: 2rem; 
}

.nav ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
    gap: 2rem;
}

.nav li {
    margin: 0;
    white-space: nowrap;
}

.nav a {
    color: white;
    text-decoration: none;
    padding: 0.5rem 1rem;
}

.nav a.active {
    font-weight: bold;
    color: #61dafb;
}

.logout-button {
    background: none;
    border: none;
    color: white;
    font: inherit;
    cursor: pointer;
    padding: 0.5rem 1rem; 
    margin-left: 2rem; 
}