.nav {
    background-color: #282c34;
    max-width: none;
    position: fixed;
    top: 0;
    left:0;
    z-index: 1000;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 5px 20px;
    height: 55px;
    width: 100vw;
}

.nav .homePage {
    font-size: 20px;
    color: #61dafb;
    text-decoration: none;
    margin-right: 2rem; 
    white-space: no-wrap;
    
}

.nav ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
    flex:1;
    gap:20px;
}

.nav li {
    display: inline-flex; 
    align-items: center;   
    margin: 0;             
    white-space: nowrap;
}
.nav a {
    color: white;
    text-decoration: none;
    padding: 0.5rem 1rem;
}

.nav a.active {
    font-weight: bold;
    color: #61dafb;
}

.logout-button {
    background: white;
    border: none;
    color: black;
    font: inherit;
    cursor: pointer;
    padding: 0.5rem 1rem; 
    margin-left: 2rem; 
    align-self: center;
    transition: background-color 0.3s;
}

.logout-button:hover {
    background-color: gray;
  }